# FlashPay Server & Database Configuration
PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/?appName=FlashPayInr
NODE_ENV=development

# Vite Frontend API Base URL
VITE_API_URL=https://flashpayiinr.onrender.com
